/*=================== Mail composer ==================*/
.compose {
  background-color: $block-bg;
  @include border(1px solid,$block-border-color,bottom left right top);
  color: $text-color;
}
.compose-label {
  background-color: $block-bg;
  @include border(1px solid,$body-bg,bottom left right top);
  color: $text-color;
  font-size: 14px;
}
.compose-editor {
  background-color: $body-bg;
}
.compose-label:hover,
.compose-label:focus {
  background-color: darken($block-bg, 10%);
  border-color: darken($block-bg, 10%);
}
.compose-field ~ .compose-field {
  @include border(1px solid,$input-border,bottom left right top);
}
.compose-field {
  @include border(1px solid,$input-border,bottom left right top);
    border-radius: $border-radius-base;
} 
.compose-input {
  background-color: $body-bg;
  color: $text-color;
}
.compose-body{
    border-radius: $border-radius-base;
}
.compose-message {
  background-color: $body-bg;
  border: 1px solid $input-border;
  border-radius: $border-radius-base;
}
.file-upload-input {
  bottom: 0;
  cursor: inherit;
  margin: 0;
  opacity: 0;
  padding: 0;
  position: absolute;
}
