/*================== Bootstarp model css =============*/
#responsive, #stack1 {
    width: auto;
    margin: 0 auto;
}
.modal-scrollable {
    background: $modal-backdrop-bg;
    z-index: 9999;
}
.modal-full.modal-dialog {
  width: 99%;
}